{% extends 'dashboard/base.html' %}

{% block title %}Сторінка рецептів{% endblock %}
{% block content %}
    <h1>Список рецептів</h1>
    {% if recipes %}
        <table class="table">
					<thead>
						<tr>
							<th scope="col">Назва</th>
							<th scope="col">Опис</th>
							<th scope="col">Фото</th>
							<th scope="col">Редагувати</th>
							<th scope="col">Видалити</th>
						</tr>
					</thead>
					<tbody>
						{% for recipe in recipes %}
							<tr>
								<td>{{recipe.name}}</td>
								<td>{{recipe.description}}</td>
								<td><img src="{{recipe.photo.url}}" alt="{{recipe.name}}" width="250" height="250"></td>
								<td><a class="btn btn-warning" href="#" role="button">Редагувати</a></td>
								<td><a class="btn btn-danger" href="{% url 'delete_recipe' recipe_id=recipe.id %}" role="button">Видалити</a></td>
							</tr>
						{% endfor %}
					</tbody>
        </table>
    {% else %}
        <h4>There are no recipes now</h4>
    {% endif %}
{% endblock %}
